Repository banzaicloud/banzai-charts, pull requests merged in 2019-03, with the labels that each got.

#678 [thanos] - added resources management
  thanos/README.md
  thanos/templates/compact-deployment.yaml
  thanos/templates/query-deployment.yaml
  thanos/templates/store-deployment.yaml
  thanos/values.yaml
Labels: community

#698 Vault-secrets-webhook use unprivileged internalPort
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/templates/webhook-deployment.yaml
  vault-secrets-webhook/values.yaml
Labels: vault

#713 Vault 1.1.0 as a StatefulSet
  vault/Chart.yaml
  vault/README.md
  vault/templates/deployment.yaml
  vault/values.yaml
Labels: vault

#730 remove openfaas chart
  openfaas/Chart.yaml
  openfaas/templates/NOTES.txt
  openfaas/templates/_helpers.tpl
  openfaas/templates/alertmanager.yaml
  openfaas/templates/configmaps.yaml
  openfaas/templates/external-service-access.yaml
  openfaas/templates/faasnetesd.yaml
  openfaas/templates/gateway.yaml
  openfaas/templates/ingress.yaml
  openfaas/templates/nats.yaml
  openfaas/templates/prometheus.yaml
  openfaas/templates/queueworker.yaml
  openfaas/templates/rbac.yaml
  openfaas/values.yaml
Labels: community, duplicate

#728 Limit RBAC permissions of vault webhook
  vault-secrets-webhook/templates/webhook-rbac.yaml
Labels: community, vault
