Repository banzaicloud/banzai-charts, pull requests merged in 2019-06, with the labels that each got.

#850 dex: add livenessProbe
  dex/Chart.yaml
  dex/templates/deployment.yaml
  dex/values.yaml
Labels: dex

#853 vault-operator: wait for EtcdCluster CRD registration
  vault-operator/Chart.yaml
  vault-operator/templates/deployment.yaml
Labels: vault

#854 vault-operator: fix CRD RBAC
  vault-operator/Chart.yaml
  vault-operator/templates/role.yaml
Labels: vault

#859 Added ability to provide imagePullSecrets in vault-secrets-webhook
  vault-secrets-webhook/README.md
  vault-secrets-webhook/templates/webhook-deployment.yaml
  vault-secrets-webhook/values.yaml
Labels: vault

#861 bump vault webhook version
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/values.yaml
Labels: vault

#873 fix hardcoded image in vault chart
  vault/Chart.yaml
  vault/templates/statefulset.yaml
  vault/values.yaml
Labels: community

#874 bump bank-vaults to 0.4.17
  vault-operator/Chart.yaml
  vault-operator/values.yaml
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/values.yaml
  vault/Chart.yaml
  vault/values.yaml
Labels: vault

#871 Vault fix statefulset spec
  vault/Chart.yaml
  vault/templates/statefulset.yaml
Labels: vault
