Repository banzaicloud/banzai-charts, pull requests merged in 2019-01, with the labels that each got.

#586 vault: add PVC configurability
  pipeline-cp/Chart.yaml
  pipeline-cp/requirements.yaml
  pipeline/Chart.yaml
  pipeline/requirements.yaml
  vault/Chart.yaml
  vault/templates/deployment.yaml
  vault/templates/pvc.yaml
  vault/values.yaml
Labels: vault

#596 Fix Vault secrets webhook recursion issue with namespace separation
  vault-secrets-webhook/README.md
  vault-secrets-webhook/templates/apiservice-webhook.yaml
Labels: vault

#597 Remove vmwh APIService, it doesn't offer any APIService
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/templates/apiservice-webhook.yaml
Labels: vault

#598 Bump image to 0.4.2, support for affinity
  vault-operator/Chart.yaml
  vault-operator/templates/deployment.yaml
  vault-operator/values.yaml
Labels: vault

#600 Add missing system:auth-delegator binding
  vault-operator/Chart.yaml
  vault-operator/README.md
  vault-operator/templates/rolebinding.yaml
Labels: community, vault

#604 CI/CD secret is not needed since the communication is localhost only
  pipeline-cicd/Chart.yaml
  pipeline-cicd/templates/deployment.yaml
  pipeline-cicd/templates/secrets.yaml
  pipeline-cp/Chart.yaml
  pipeline-cp/requirements.yaml
Labels: bug, cicd

#605 Update vault-operator ClusterRole
  vault-operator/Chart.yaml
  vault-operator/templates/role.yaml
Labels: vault

#610 vault-operator: use Recreate strategy
  vault-operator/Chart.yaml
  vault-operator/templates/deployment.yaml
  vault-operator/values.yaml
Labels: bug, vault

#617 add etcd cluster-wide flag
  vault-operator/README.md
Labels: vault

#626 Add support for bank-vaults webhook debug flag
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/README.md
  vault-secrets-webhook/templates/webhook-deployment.yaml
  vault-secrets-webhook/values.yaml
Labels: community, vault

#629 vault-secrets-webhook: secret type not needed
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/templates/apiservice-webhook.yaml
Labels: vault

#630 vault-secrets-webhook: upgrade deployment if secrets (certs) change
  vault-secrets-webhook/Chart.yaml
  vault-secrets-webhook/templates/webhook-deployment.yaml
Labels: bug, vault

#644 dex: update deployment on config change
  dex/Chart.yaml
  dex/templates/deployment.yaml
Labels: dex

#646 dex: add connectors empty check
  dex/Chart.yaml
  dex/templates/config.yaml
Labels: dex
