Repository banzaicloud/banzai-charts, pull requests merged in 2019-04, with the labels that each got.

#734 cicd: add replicaCount and strategy
  cicd/Chart.yaml
  cicd/templates/deployment.yaml
  cicd/values.yaml
Labels: cicd

#739 [hpa-operator] Add pod annotations
  hpa-operator/templates/deployment.yaml
  hpa-operator/values.yaml
Labels: community, enhancement

#760 Support nodeSelector and Tolerations
  vault-operator/Chart.yaml
  vault-operator/templates/deployment.yaml
  vault-operator/values.yaml
Labels: vault

#762 vault: add regular envs
  vault/templates/statefulset.yaml
  vault/values.yaml
Labels: vault

#767 bump vault version
  vault/Chart.yaml
Labels: vault

#774 dex: xpose prometheus telemetry
  dex/Chart.yaml
  dex/templates/config.yaml
  dex/values.yaml
Labels: dex

#776 dex: add readinessProbe
  dex/Chart.yaml
  dex/templates/config.yaml
  dex/templates/deployment.yaml
  dex/values.yaml
Labels: dex

#759 Docs: update create namespace before install chart.
  vault-secrets-webhook/README.md
Labels: vault
