Repository banzaicloud/banzai-charts, pull requests merged in 2019-12, with the labels that each got.

#981 dex: support for extra secrets
  dex/Chart.yaml
  dex/README.md
  dex/templates/deployment.yaml
  dex/templates/secret.yaml
  dex/values.yaml
Labels: dex

#986 Add pvc support for thanos-store
  thanos/templates/store-deployment.yaml
  thanos/templates/store-persistentvolumeclaim.yaml
  thanos/values.yaml
Labels: enhancement, thanos

#985 changed servicePort to use grpc
  thanos/templates/store-ingress.yaml
Labels: bug, thanos
