Repository banzaicloud/banzai-charts, pull requests merged in 2020-04, with the labels that each got.

#1073 Updated affinity example for dex
  dex/README.md
Labels: dex

#1074 fix indentation issue in thanos object-store.yaml
  thanos/README.md
Labels: thanos

#1062 fix: yaml Spacing
  thanos/README.md
Labels: thanos

#1088 spot-termination-exporter: Add missing selector field
  spot-termination-exporter/Chart.yaml
  spot-termination-exporter/templates/daemonset.yaml
Labels: bug, community

#1061 [thanos] check .Values.sidecar.enable in secret creation
  thanos/Chart.yaml
  thanos/templates/secret.yaml
Labels: thanos
