Repository banzaicloud/banzai-charts, pull requests merged in 2020-03, with the labels that each got.

#1045 Fix indentation for Prometheus metrics annotations
  .circleci/config.yml
Labels: bug, community, thanos

#1047 Add rule servicemonitor template
  thanos/templates/rule-servicemonitor.yaml
Labels: community, enhancement, thanos

#1048 Add secret override functionality to rule component
  thanos/templates/rule-statefulset.yaml
Labels: community, enhancement, thanos

#1055 [thanos] parameterize sidecar grpc service type and add nodePort value
  thanos/Chart.yaml
  thanos/templates/sidecar-service.yaml
  thanos/values.yaml
Labels: community, enhancement, thanos

#1057 thanos ruler: fix cert secret handling
  thanos/templates/rule-statefulset.yaml
Labels: community, enhancement, thanos

#1071 Added affinity templating to dex
  dex/Chart.yaml
  dex/README.md
  dex/templates/deployment.yaml
  dex/values.yaml
Labels: dex

#1072 Add affinity templating to dex
  dex/Chart.yaml
  dex/README.md
  dex/templates/deployment.yaml
Labels: dex
